main {
  display: flex;
  flex-direction: row-reverse;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.side-nav-wrapper {
  display: flex;
  flex: 1;
  max-width: var(--screen-sm);
}

@media (max-width: 600px) {
  .side-nav-wrapper {
    display: none;
  }
}

.side-nav {
  width: 33.33%;
  max-width: var(--screen-sm);
  position: fixed;
  right: 0;
  background-color: var(--color-white-dark);
  min-height: 100vh;
  padding: var(--spacing-lg) 0;
  flex-direction: column;
}

.side-nav-header {
  display: flex;
  padding: 0 var(--spacing-md) var(--spacing-md);
}

.side-nav-header > h4 {
  font-weight: 700;
  color: var(--color-grey);
  text-transform: uppercase;
}

.side-nav-link > a {
  display: flex;
  padding: 5px var(--spacing-md);
}

.hero {
  text-align: center;
}

.hero-header {
  background-color: var(--color-black);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
}

.hero-header-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .hero-header-logo {
    animation: hero-header-logo-spin infinite 20s linear;
  }
}

@keyframes hero-header-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.content-wrapper {
  background-color: var(--color-black);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  color: var(--color-white);
}

section.content-wrapper:nth-child(2n) {
  background-color: var(--color-white);
  color: var(--color-black);
}

.content {
  padding: var(--spacing-lg) 0;
  max-width: var(--screen-lg);
  width: 90%;
}

.content-header {
  margin-bottom: var(--spacing-lg);
}

.content-header > h1 {
  margin-left: -2px;
}
