{
	"env": {
		"browser": true,
		"jest": true,
		"node": true
	},
	"extends": [
		"airbnb",
		"plugin:jest/recommended",
		"plugin:prettier/recommended",
		"prettier/react"
	],
	"parser": "babel-eslint",
	"parserOptions": {
		"project": "./jsconfig.json"
	},
	"plugins": ["jest", "prettier"],
	"rules": {
		"indent": ["warn", "tab"],
		"no-mixed-spaces-and-tabs": 1,
		"object-curly-spacing": ["warn", "always"],
		"quotes": ["warn", "double"],
		"react/jsx-filename-extension": [
			1,
			{
				"extensions": [".js", ".jsx"]
			}
		],
		"react/jsx-key": "warn",
		"react/jsx-wrap-multilines": "warn",
		"semi": ["warn", "always"]
	},
	"settings": {
		"import/resolver": {
			"node": {
				"paths": ["src"]
			}
		}
	}
}
